*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    font-size: 25px;
}

#day{
    font-size: 25px;
    border-radius: 4px; 
    
}

#check{
    font-size: 20px;
    padding: 5px 15px;
    margin-top: 20px;

}

